<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	</head>
	<body style="font-family:Arial; font-size:14px; font-weight:400;">
		Добрий день, <span style="font-weight:700;">{{fullName}}</span>
		<br>
		<br>
		<br>	
        Ви зробили замовлення на сайті {{serverLink}}<br><br>
        
		Номер замовлення: {{orderNumber}}<br>

		Сумма друку: {{sumMaket}}<br>
		Сума додаткових послуг: {{sumAditionalServise}}<br>
		Загальна сумма (з врахуванням індивідуальної знижки): {{sumAll}}<br>
<br>
<br>
Менеджер опрацює ваше замовлення і найближчим часом зв'яжеться з Вами
        
	</body>
</html>