{% extends 'default/simple_layout.html' %}

{% block tag_content %}
<div id="content" class="order" > {% endblock %}
  
  {% block slider_home %}
  <div class="slider_home min_height" >
    <div class="order_text_top" >
      <div class="order_text_top_h1" > Підтвердження онлайн замовлення </div>
      {% if data.currentOrder %}
      <div class="order_text_top_more_info" > {{data.currentOrder.section.getDescriptionTwoI18n(app.request.locale)|raw}} </div>
      <div class="order_text_top_path" > {{data.currentOrder.section.getParent().getParent().getTitleI18n(app.request.locale)}}<br />
        {{data.currentOrder.section.getParent().getTitleI18n(app.request.locale)}}<br />
        {{data.currentOrder.section.getTitleI18n(app.request.locale)}}<br />
      </div>
      {% endif %} </div>
  </div>
  {% endblock %}  
  
  {% block body %}
  <div class="main_block order_main1"> {% if is_granted('ROLE_ADMIN') %}
    <div style="background: white;"> <a href="{{ path("edit_category", {"category_name": data.category.name} ) }}">[{% trans %}admin.edit{% endtrans %}]</a> <br />
    </div>
    {% endif %}
    <div class="order_bolk_wrap" style="width:1024px"> {% if data.currentOrder %}
      {% if data.currentOrder.model %} 
      {% set display_1 =  'display: none;' %}
      {% set display_2 =  'display: block;' %}
      {% endif %}
      

      
      <div class="order_stage stage_one"  style="{{display_1}}" > {{data.category.getDescriptionI18n(app.request.locale)|raw}}
        <div class="tapeWidth class_hiden" >Максимальна ширина друку --tapeWidthplaceholder--мм  поділіть зображення на частини або доручіть це зробити нам — напишіть про це в коментарі до замовлення</div>
        <script type="text/javascript" src="/web/lib/js/plupload/js/plupload.full.min.js"></script>
        <script type = "text/javascript">
    
    var tapeWidthText = '';
    var orderService = [{% if data.currentOrder.orderService %} {{data.currentOrder.getOrderServicesID}} {% endif %}];
    var tapeWidth = {% if data.category.tapeWidth %} {{data.category.tapeWidth}} {% else %} 0 {% endif %};
    var clientAreaPriceVolume1000 = 0;
    var clientAreaPriceVolume5000 = 0;
    var clientDiscount = {% if data.currentOrder.user.discount %} {{data.currentOrder.user.discount}} {% else %} 0 {% endif %};
	var orderParam = {  {% if data.currentOrder.section.areaEdge %} 
			                 {{data.currentOrder.id}} : {   'areaEdge':{{data.currentOrder.section.areaEdge}},
                										  	'areaPriceMin':{{data.currentOrder.section.areaPriceMin}},
                										   	'areaPriceMax':{{data.currentOrder.section.areaPriceMax}},
                										    'areaPriceVolume1000':{{data.currentOrder.section.areaPriceVolume1000}},
                											'areaPriceVolume5000':{{data.currentOrder.section.areaPriceVolume5000}},
                											'areaPriceVolumeSingle5000':{{data.currentOrder.section.areaPriceVolumeSingle5000}},
                                                            'minPriceRegular':'{{data.currentOrder.section.minPriceRegular}}',
                                                            'minPriceDiscount':'{{data.currentOrder.section.minPriceDiscount}}',
                											'OrderModelWidth': {{data.currentOrder.modelWidth}},
                											'OrderModelHeight':{{data.currentOrder.modelHeight}}
                									    }
	                    {% else %}
                            
                        {% endif %}  
	                 };
                            
	var orderAditionalParam = {  
                                {% if data.currentOrder.orderService %}
                                    {{data.currentOrder.id}} : { 
                                        {% if data.currentOrder.orderService %}
                                            {% for orderServiceItem in data.currentOrder.orderService %}
                                                {% if orderServiceItem.service.params %}
                                                    {% for orderServiceItemParam in orderServiceItem.service.params %}
                                                        '{{orderServiceItemParam.name}}':'{{orderServiceItemParam.value}}',
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %} 
                                    }
                                {% else %}
                                     
                                {% endif %}  
           	                  };
    
    function calculateAditionalServise (orderID) {
        AditionalServise = orderAditionalParam[orderID];
        var totalAditionalServise = 0;
        var mockupSquare = (orderParam[orderID].OrderModelWidth/1000)*(orderParam[orderID].OrderModelHeight/1000);
        var mockupPerimeter = ((orderParam[orderID].OrderModelWidth/1000)+(orderParam[orderID].OrderModelHeight/1000))*2
        
        // {# крок люверсування в м. Напевно буде підтягуватись з замовлення клієнта #}
        
        var step_of_luversing = 0.3 
        
        if (AditionalServise.trim_img_by_contour_price) {
            //{# trim_img_by_contour_price - Периметр макету множиться на цю ціну #}
                
            ServisePrice = mockupPerimeter * AditionalServise.trim_img_by_contour_price;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        
        if (AditionalServise.figure_trim_base_on_contour) {
            //{# figure_trim_base_on_contour	25	Периметр макету множиться на цю ціну #}
            
            ServisePrice = mockupPerimeter * AditionalServise.figure_trim_base_on_contour;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        
        if (AditionalServise.bending_perimeter_around_price) {
            //{# bending_perimeter_around_price - Периметр макету множиться на цю ціну #}
            
            ServisePrice = mockupPerimeter * AditionalServise.bending_perimeter_around_price;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        
        if (AditionalServise.laminating_transp_glossy_def || AditionalServise.laminating_transp_glossy_1000 || AditionalServise.laminating_transp_glossy_5000) {
            /*{# 
                laminating_transp_glossy_def - площа макету множимо на цю ціну
                laminating_transp_glossy_1000 - площа макету множимо на цю ціну (при об'ємі друку >1000грн)
                laminating_transp_glossy_5000 - площа макету множимо на цю ціну (при одноразовому друці  >5000грн)
             #}*/
            
            ServisePrice = mockupSquare * AditionalServise.laminating_transp_glossy_def
            if (clientAreaPriceVolume1000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_transp_glossy_1000;
            }
            
            if (clientAreaPriceVolume5000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_transp_glossy_5000;
            }
            
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        
        if (AditionalServise.laminating_transp_matte_def	|| AditionalServise.laminating_transp_mate_1000 || AditionalServise.laminating_transp_mate_5000) {
            /*{#  laminating_transp_matte_def	70	площа макету множимо на цю ціну
                laminating_transp_mate_1000	50	площа макету множимо на цю ціну (при об'ємі друку >1000грн)
                laminating_transp_mate_5000	35	площа макету множимо на цю ціну (при одноразовому друці  >5000грн)
             #}*/
            ServisePrice = mockupSquare * AditionalServise.laminating_transp_matte_def
            if (clientAreaPriceVolume1000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_transp_mate_1000;
            }
            
            if (clientAreaPriceVolume5000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_transp_mate_5000;
            }
            
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.laminating_white_glossy_def	|| AditionalServise.laminating_white_glossy_1000	|| AditionalServise.laminating_white_glossy_5000) {
            /*{#  laminating_white_glossy_def	70	площа макету множимо на цю ціну
                laminating_white_glossy_1000	50	площа макету множимо на цю ціну (при об'ємі друку >1000грн)
                laminating_white_glossy_5000	35	площа макету множимо на цю ціну (при одноразовому друці  >5000грн) 
            #}*/
            
            ServisePrice = mockupSquare * AditionalServise.laminating_white_glossy_def
            if (clientAreaPriceVolume1000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_white_glossy_1000;
            }
            
            if (clientAreaPriceVolume5000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_white_glossy_5000;
            }
            
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.laminating_white_matte_def || AditionalServise.laminating_white_mate_1000 || AditionalServise.laminating_white_mate_5000) {
            /*{#  laminating_white_matte_def	70	площа макету множимо на цю ціну
                laminating_white_mate_1000	50	площа макету множимо на цю ціну (при об'ємі друку >1000грн)
                laminating_white_mate_5000	35	площа макету множимо на цю ціну (при одноразовому друці  >5000грн)
             #}*/
            
            ServisePrice = mockupSquare * AditionalServise.laminating_white_matte_def
            if (clientAreaPriceVolume1000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_white_mate_1000;
            }
            
            if (clientAreaPriceVolume5000 == 1) {
                ServisePrice =  mockupSquare * AditionalServise.laminating_white_mate_5000;
            }
            
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.cutting_plotter_on_stickers) {
            //{# cutting_plotter_on_stickers - площу друку множимо на цю ціну #}
            
            ServisePrice =  mockupSquare * AditionalServise.cutting_plotter_on_stickers;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.eyelets_install_all_sides) {
            //{# eyelets_install_all_sides	- ціна з штуку (периметр макету ділим на крок люверсування і множ. на цю ціну) #}
            
            ServisePrice = (Math.ceil(mockupPerimeter/step_of_luversing))*AditionalServise.eyelets_install_all_sides;
            
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.eyelets_install_all_tb) {
            //{# eyelets_install_all_tb	- ціна з штуку (верх+низ макету ділим на крок люверсування і множ. на цю ціну) #}
            
            ServisePrice = (Math.ceil(((orderParam[orderID].OrderModelWidth/1000)*2)/step_of_luversing))*AditionalServise.eyelets_install_all_tb;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.eyelets_install_all_lrb) {
            //{# eyelets_install_all_lrb - ціна з штуку (верх+лівий+правий боки ділим на крок люверсування і множ. на цю ціну) #}
            
            ServisePrice = ((Math.ceil((orderParam[orderID].OrderModelWidth/1000)+((orderParam[orderID].OrderModelHeight/1000)*2)))/step_of_luversing)*AditionalServise.eyelets_install_all_lrb;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.stick_img_to_pvc_2mm) {
            //{# stick_img_to_pvc_2mm - площа макету множимо на цю ціну (ціна матеріалу з поклейкою) #}
            
            ServisePrice = mockupSquare * AditionalServise.stick_img_to_pvc_2mm;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.stick_img_to_pvc_3mm) {
            //{# stick_img_to_pvc_3mm - площа макету множимо на цю ціну (ціна матеріалу з поклейкою) #}
            
            ServisePrice = mockupSquare * AditionalServise.stick_img_to_pvc_3mm;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }
        if (AditionalServise.stick_img_to_composite_3mm) {
            //{# stick_img_to_composite_3mm	- площа макету множимо на цю ціну (ціна матеріалу з поклейкою) #}
            
            ServisePrice = mockupSquare * AditionalServise.stick_img_to_composite_3mm;
            totalAditionalServise = totalAditionalServise + ServisePrice;
            ServisePrice = 0;
        }

        
        return {'totalAditionalServise' : totalAditionalServise};
    }
    
    function calculateOrder (orderID) {
        //{# in metrs#}
        
        var mockupPriceMesage = 0;
        
        var mockupSquare = (orderParam[orderID].OrderModelWidth/1000)*(orderParam[orderID].OrderModelHeight/1000);
        if (mockupSquare >= orderParam[orderID].areaEdge) {
            //{# lower price#}
            
            var mockupPrice =  orderParam[orderID].areaPriceMax;
        } else {
            if (orderParam[orderID].areaPriceMin > 0) {
                var mockupPrice =  orderParam[orderID].areaPriceMin;
            } else {
               //{# contractual price#}
               
               mockupPriceMesage =  1;
               var mockupPrice =  orderParam[orderID].areaPriceMax;
            }
        }
            if (clientAreaPriceVolume1000 == 1) {
                var mockupPrice =  orderParam[orderID].areaPriceVolume1000;
            }
            
            if (clientAreaPriceVolume5000 == 1) {
                var mockupPrice =  orderParam[orderID].areaPriceVolume5000;
            }
            
            var totalOrder = mockupPrice*mockupSquare;
            
            if (totalOrder > 5000 ) {
                totalOrder = orderParam[orderID].areaPriceVolumeSingle5000 * mockupSquare;  
            }
        
        return {'totalOrder' : totalOrder, 'mockupPriceMesage' : mockupPriceMesage};
            
    }
    
$(document).ready(function() {
    var totalOrderAll = 0;
    var totalOrder = calculateOrder({{data.currentOrder.id}});
    var totalAditionalServise = calculateAditionalServise({{data.currentOrder.id}});
    
    if (totalOrder['totalOrder'] > 0) {
        $('#order_confirm_costOfPrinting').val(totalOrder['totalOrder']);
        totalOrderAll = totalOrderAll + totalOrder['totalOrder'];
    }
    if (totalAditionalServise['totalAditionalServise'] > 0) {
        $('#order_confirm_costOfAdditionalServices').val(totalAditionalServise['totalAditionalServise']);
        totalOrderAll = totalOrderAll + totalAditionalServise['totalAditionalServise'];
    }
    if (clientDiscount > 0) {
        totalOrderAll = totalOrderAll - totalOrderAll*(clientDiscount/100);
        totalOrderAll = Math.ceil(totalOrderAll);
    }
    $('#order_confirm_totalPayment').val(totalOrderAll);    
    
    
    
    $('#order_confirm_paymentMethod').change(function(){
        var method = $(this).val(); 
        var costOfPrinting = $('#order_confirm_costOfPrinting').val();
        if (method == 'checking_account' && costOfPrinting <= 1000 ) {
        
            $(this).find('option:selected').attr('selected', false);
            $(this).find('option').first().attr('selected', true);
            $(this).val($(this).find('option').first().val());
             
            alert('Даний вид оплати доступний лише при сумі замовлення більше 1000грн.');
        }
    });
    
    
    if (tapeWidth > 0) {
       tapeWidthText = $(".tapeWidth").html();
       tapeWidthText = tapeWidthText.replace('--tapeWidthplaceholder--', tapeWidth);
    }
    
        var uploader = new plupload.Uploader({
                runtimes: "html5",
                url: "{{ oneup_uploader_endpoint('gallery') }}",
                max_file_size: "20mb",
                multipart: true,
                multi_selection: false,
                unique_names: true,
                filters: [{
                        title: "Image files",
                        extensions: "tif,tiff,cdr"
                }],
                drop_element: "upload_button",
                browse_button: "upload_button"
        });
        uploader.bind("FilesAdded", function(uploader, files) {
                $("#upload_button").hide();
                $("#myProgress").show();
                $('.order_loading_img').show();
                uploader.start();
        });
        uploader.bind("UploadProgress", function(uploader, file) {
                $('#myBarPersent').html(file.percent + '%');
                var myBarWidth = (file.percent == 100) ? 99 : file.percent;
                $('#myBar').css('width', myBarWidth + '%');
        });
        uploader.bind("FileUploaded", function(uploader, file, response) {
                var res = $.parseJSON(response.response);
                //console.log(file);
                $(".stage_one").hide();
                $(".stage_two").show();
                if (file.type == "image/tiff") {
                        var new_img = $('<img>');
                        new_img.attr('src', res.path);
                        new_img.attr('class', 'order_img');
                        new_img.on('load', function() {
                                $('.order_loading_img').hide();
                                $('.order_img_wrap').append(new_img);
                                $(".img_format_ext").html("TIFF");
                        });
                } else {
                        $(".img_format_ext").html("CDR");
                        $('.order_loading_img').hide();
                        $('.order_cdr_error').show();
                }
        });
        uploader.bind("Error", function(uploader, args) {
                //console.log('[Error] ', args);
        });
        uploader.init();
        /*$('.main_checkbox').change(function() {
                var child_block = $(this).parent().parent().find('.form_checkbox_level_1');
                var action = $(this).is(':checked');
                checkbox_colored_change($(this).parent(), action);
                var checkbox_to_act = action ? 'first' : 'checked';
                child_block.find('.child_checkbox:' + checkbox_to_act).each(function(i) {
                        $(this).prop('checked', action);
                        checkbox_colored_change($(this).parent(), action);
                });
        });
        $('.child_checkbox').change(function() {
                var this_obj = $(this);
                var parent_checkbox = this_obj.closest('.form_checkbox_group').find('.main_checkbox');
                var action = this_obj.is(':checked');
                var in_grop_checked = false;
                parent_checkbox.parent().parent().find(".child_checkbox:checked").each(function(i) {
                        $(this).prop('checked', false);
                        checkbox_colored_change($(this).parent(), false);
                });
                parent_checkbox.each(function(i) {
                        $(this).prop('checked', action);
                        checkbox_colored_change($(this).parent(), action);
                });
                this_obj.prop('checked', action);
                checkbox_colored_change(this_obj.parent(), action);
        });*/

        function checkbox_colored_change(obj, action) {
                if (action) {
                        obj.addClass('checked');
                } else {
                        obj.removeClass('checked');
                }
        }
        
        for (i in orderService) {
            action = true;
            
            this_obj = $('[name="additional_service_item['+orderService[i]+']"]');
            this_obj.prop('checked', action);
            checkbox_colored_change(this_obj.parent(), action);
            
            this_obj = $('[name="additional_service['+orderService[i]+']"]');
            this_obj.prop('checked', action);
            checkbox_colored_change(this_obj.parent(), action);
        }
 
    function tapeWidthCheck() {
        if (tapeWidth == 0) {
            return true;
        }
        var width = $("#set_maket_size_w").val();
        var height = $("#set_maket_size_h").val();
        if (!width || !height) {
            return false;
        }
        var max = (width > height) ? height : width;
        //console.log('max: '+max);
        if (max > tapeWidth) {
            alert(tapeWidthText);
            return false;
        }  
    }   
        
    $("#set_maket_size_w, #set_maket_size_h").change(function() {
       tapeWidthCheck(); 
    });    
    
    $(".order_img_wrap").hover(function() {
        $(".order_dell_img").show();
    },function() {
        $(".order_dell_img").hide();
    });
    
    $(".order_dell_img").click(function (){
        var this_obj = $(this);
        $('.order_loading_img').show();
        this_obj.hide();
        $('.order_img').hide();
                $.post('{{ path("order_dell_img") }}', {
                    
                }, function(resp) {
                    console.log(resp);
                    if (resp && resp.status == "ok") {
                        $("#upload_button").show();
                        $("#myProgress").hide();
                
                        $('.stage_two').hide();
                        $('.stage_one').show();
                    } else {
                        this_obj.show();
                        $('.order_img').show();
                        $('.order_loading_img').hide();
                        alert('error');
                    } 
                },"json");
       
        
    });
       
        
}); 
</script>
        <div style="text-align:center"> {% if is_granted('ROLE_USER') %}
          <div class="upload_button_block">
            <div id="upload_button">ЗАВАНТАЖИТИ МАКЕТ</div>
          </div>
          {% else %} <a href="{{ path('fos_user_security_login') }}?_target_path={{ path("category", {"category_name": data.category.name} ) }}" >Для продовження увійдіть в акаунт</a> {% endif %}
          <div id="myProgress">
            <div id="myBarPersent">100</div>
            <div id="myBar"></div>
          </div>
        </div>
      </div>
      <div class="clear_inline_block"></div>
      <div class="order_stage stage_two" style="{{display_2}}"  >
        <div class="div_text_center order_header">
          <h2 class="order_h2">Оформити замовлення</h2>
        </div>
        {% set form = data.orderConfirmForm%}
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
          <div class="order_left_block" style="width:58%;">
          <div class="order_form_head">
            <div class="order_form_user">
              <div class="form_left">Як вас звати *</div>
              <div class="form_right">
                <div class="form_label" >Ім'я та бажано пізвище</div>
                {{ form_errors(form.name) }}
                {{ form_widget(form.name) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="order_form_user">
              <div class="form_left">Спосіб оплати *</div>
              <div class="form_right">
                <div class="form_label" ></div>
                {{ form_errors(form.paymentMethod) }}
                {{ form_widget(form.paymentMethod) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="order_form_user">
              <div class="form_left">Адреса</div>
              <div class="form_right">
              <div class="form_right_dubl">
                <div class="form_label" >Населений пункт</div>
                {{ form_errors(form.city) }}
                {{ form_widget(form.city) }} </div>
                <div class="form_right_dubl">
                <div class="form_label" >№ відділення</div>
                {{ form_errors(form.department) }}
                {{ form_widget(form.department) }} </div>
                
                  <div class="clearBoth"></div>
              <div class="form_label" style="font-size:11px" >Ви можете обрати будь який найближчий до Вас склад "НОВОЇ ПОШТИ".<br />
                <a href="#">Адреси та телефони пунктів видачі</a></div>
                
                </div>
                
              <div class="clearBoth"></div>
              
            </div>
            
            <div class="order_form_user">
              <div class="form_left">Самовивіз</div>
              <div class="form_right">
                {{ form_errors(form.selfCheckout) }}
                {{ form_widget(form.selfCheckout) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="order_form_user">
              <div class="form_left">Телефон *</div>
              <div class="form_right">
                {{ form_errors(form.phone) }}
                {{ form_widget(form.phone) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="order_form_user">
              <div class="form_left">Email</div>
              <div class="form_right">
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }} </div>
              <div class="clearBoth"></div>
            </div>
		</div>
            
        <div class="order_form_foot">
            <div class="order_form_user">
              <div >Коментар до замовлення</div>
              <div >

                {{ form_errors(form.comment) }}
                {{ form_widget(form.comment) }} </div>

            </div>
            <div class="clearBoth"></div>
            
            <div class="order_form_user">
              <div class="form_left">Вартість друку</div>
              <div class="form_right">
                {{ form_errors(form.costOfPrinting) }}
                {{ form_widget(form.costOfPrinting) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="clearBoth"></div>
            
            <div class="order_form_user">
              <div class="form_left">Вартість додаткових послуг</div>
              <div class="form_right">
                {{ form_errors(form.costOfAdditionalServices) }}
                {{ form_widget(form.costOfAdditionalServices) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="clearBoth"></div>
            
            <div class="order_form_user">
              <div class="form_left">Всього до оплати</div>
              <div class="form_right">
                {{ form_errors(form.totalPayment) }}
                {{ form_widget(form.totalPayment) }} </div>
              <div class="clearBoth"></div>
            </div>
            <div class="clearBoth"></div>
            </div>
          </div>
          
        
          <div class="order_right_block" style="width:36%; margin:0;">
            <div class="img_format">Макет <span class="img_format_ext">{% if data.currentOrder.model %}{{data.currentOrder.getModelType()}}{% endif %}</span></div>
            <div class="img_set_size">Розмір в міліметрах
              <div style="background: #CCC; display: inline; padding: 2px 7px;" >{{data.currentOrder.modelWidth}} x {{data.currentOrder.modelHeight}}</div>
            </div>
            <div class="order_thumbs">
              <div class="order_img_wrap"> {% if data.currentOrder.model %} <img class="order_img" src="{{ data.currentOrder.getModelWebPuth() | imagine_filter('order_tiff') }}" /> {% endif %} </div>
              <div class="order_loading_img"></div>
              <div class="order_cdr_error">попередній перегляд доступний тільки для формату TIFF</div>
            </div>
            <div class="smaller_adittionl_services_wrap">
              <div class="adittionl_services_line"> {{data.currentOrder.section.getParent().getParent().getTitleI18n(app.request.locale)}} </div>
              <div class="adittionl_services_line" >
                <div class="img_info_label" >Матеріал: </div>
                <div class="img_info_val" > <span class="red_text">{{data.currentOrder.section.getParent().getTitleI18n(app.request.locale)}}<br />
                  {{data.currentOrder.section.getTitleI18n(app.request.locale)}} </span> </span></div>
                <div class="clearBoth"></div>
              </div>
              <div class="clearBoth"></div>
              {% if data.orderConfirmAdditionalService %}
              <div class="adittionl_services_title" >Послуги: </div>
              <div class="form_adittionl_services smaller_adittionl_services"> {{data.orderConfirmAdditionalService|raw}} </div>
              <div class="clearBoth"></div>
              {% endif %} </div>
          </div>
          <div class="order_info">
          Примітка:<br />
		Вартість орієнтовна - оплата проводиться після підтвердження ціни менеджером.<br />
<br />
Вона може бути меншою - враховується знижка за online замовлення<br />
+ Ваша індивідуальна знижка; може збільшитись - при перерозході матеріалу більше 20% (друкуємо на рулонних матеріалах)
          
          
          </div>
          <div class="div_text_center order_footer"><a href="{{ path("category", {"category_name": data.currentOrder.section.name} ) }}" class="gray_button" style="background: #ccc; margin-right: 20px;" >РЕДАГУВАТИ</a> <span style="vertical-align:top">{{ form_widget(form.save) }}</span> </div>
        </div>
        {{ form_end(form) }} </div>
      {% else %}
      <div style="text-align: center; font-size: 30px; margin-top: 115px;" >У Вас немає непідтверджених замовлень</div>
      {% endif %} </div>
  </div>
</div>
{% endblock %}