{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/vendor/kenwheeler/slick/slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="/vendor/kenwheeler/slick/slick/slick-theme.css"/>

<link rel="stylesheet" type="text/css" href="//kenwheeler.github.io/slick/css/style.css"/>

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/vendor/kenwheeler/slick/slick/slick.min.js"></script>


<script>
$(document).ready(function(){

 $('.slider-for').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  arrows: false,
  fade: true,
  asNavFor: '.slider-nav',
  initialSlide: 1,
});
 
$('.slider-nav').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  arrows: false,
  asNavFor: '.slider-for',
  dots: false,
  centerMode: true,
  focusOnSelect: true,
  vertical: true,
  verticalSwiping: true,
  initialSlide: 1,
});

$('.slider-nav-top').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  arrows: false,
  asNavFor: '.slider-for',
  dots: false,
  centerMode: true,
  focusOnSelect: true,
  vertical: true,
  verticalSwiping: true,
  initialSlide: 1,
});

$('.slider-nav-top').on('beforeChange', function(event, slick, currentSlide, nextSlide){

  $('.slider-nav').slick('slickGoTo',(nextSlide),false);
  
});

$('.slider-nav').on('beforeChange', function(event, slick, currentSlide, nextSlide){

  $('.slider-nav-top').slick('slickGoTo',(nextSlide),false);
  
});


});
</script> 
demon
<div style="width:" class="blue">
<div style="width:140px; display:inline-block" >
	<div class="slider slider-nav-top">
    
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
                    
					</div>
</div>                    
<div style="width:80%; display:inline-block" >
			<div class="slider slider-for">

					
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
                    
				</div>
</div>
<div style="width:140px; display:inline-block" >                
				<div class="slider slider-nav">
					
                    					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
   					<div><img  src="/web/bundles/AppBundle/img/slider/photo_2.jpg" /></div>
					<div><img  src="/web/bundles/AppBundle/img/slider/photo_1.jpg" /></div>
                    
                    </div>
					</div>
</div>
<br />
<br />
<br />
sdsdsd<br />
<br />
<br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br /><br />
<br />
<br />
sdsdsd<br />
<br />

{% endblock %}
