<!DOCTYPE html>
<html>
<head>
{% block title %}
<title>simpleLayout</title>
{% endblock %}
<meta charset="utf-8">
<meta name="description" content="">
<meta name="keywords" content="">
<link rel="icon" type="image/ico" href="/web/image/favicon.ico"/>
{% block css %}
<link rel="stylesheet" type="text/css" media="all" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" media="all" href="/web/assets/vinnymoreira/stellarnav/css/stellarnav.css">
<link rel="stylesheet" type="text/css" media="all" href="/web/bundles/AppBundle/Resources/css/simpleLayout.css">
{% endblock %}				
									
		{% block javascript %}
<script type="text/javascript" src="/web/assets/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/web/assets/vinnymoreira/stellarnav/js/stellarnav.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
	jQuery('.stellarnav').stellarNav({
	theme     : 'plain',
	breakpoint: 760,
	phoneBtn: false,
	locationBtn: false,
	sticky     : false,
	position: 'top',
	showArrows: false,
	closeBtn     : false,
	scrollbarFix: false
});

    
          function setbodyclass() {
      			
                var browserWidth = window.innerWidth;
                                
                if  (browserWidth >= 1280) {
                	$('body').attr('class', 'body_width_1920');
                } else if (browserWidth < 1280 && browserWidth >= 760 ) {
                	$('body').attr('class', 'body_width_1280');
               	} else if (browserWidth < 760 ) {
                	$('body').attr('class', 'body_width_760');
                } 
        }
        setbodyclass();
$( window ).resize(function() {
        	
  setbodyclass();
});
  });  
    
	
</script>
{% endblock %}
<style></style>
</head><body id="simpleLayout" class="" >
<div class="header_panel" >
  <div class="panel_left"><a href="{{ path("category", {'category_name':'about'}) }}">Про компанію</a> <a href="{{ path("category", {'category_name':'about'}) }}">FAQ</a></div>
  <div class="panel_right"> <a class="red_linc_button" href="{{ path("category", {'category_name':'prices'}) }}">Прайси</a> </div>
  <div class="clear_both"></div>
</div>
<div id="content">
  <div class="stellarnav" >
    <ul>
      <li class="butterfly"><a href="{{ path("home") }}">
        <div style="position:relative; width:313px"> <img class="image" src="/web/bundles/AppBundle/Resources/img/butterfly.png" >
          <div class="butterfly_text">зовнішня<br>
            реклама</div>
        </div>
        </a> </li>
      <li><a class="a_width_241" href="{{ path("category", {'category_name':'large_format_printing'}) }}">Широкоформатний друк</a>
        <ul>
          <li><a href="#">Item 1</a>
            <ul>
              <li><a href="#">Item 2</a>
                <ul>
                  <li><a href="#">Item 3</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Item 1</a></li>
        </ul>
      </li>
      <li><a href="{{ path("category", {'category_name':'cutting_plotter'}) }}" class="a_width_140">Плотерна порізка</a></li>
      <li><a href="{{ path("category", {'category_name':'payment_delivery'}) }}" class="a_width_140">Оплата доставка</a></li>
      <li><a href="{{ path("category", {'category_name':'contacts'}) }}" class="a_width_140" >
        <div style="margin-bottom:11px">Контакти</div>
        </a></li>
    </ul>
    <div class="menu_bottom_line" ></div>
  </div>
  <div class="content_container">
    <div class="slider_home"></div>
    <div class="main_block"> {% block body %}
      
      {% endblock %} </div>
    <div class="foter_panel">
      <div class="panel_left"> <a href="{{ path("home") }}" class="butterfly">         <img class="image" src="/web/bundles/AppBundle/Resources/img/butterfly.png" >          <span class="butterfly_text">зовнішня<br>            реклама</span>               </a> 
    <a href="{{ path("category", {'category_name':'about'}) }}">Про компанію</a> 
      <a href="{{ path("category", {'category_name':'about'}) }}">FAQ</a>
      

            
      </div>
      <div class="panel_right"> <a class="red_linc_button" href="{{ path("category", {'category_name':'prices'}) }}">Прайси</a> </div>
      <div class="clear_both"></div>
    </div>
  </div>
</div>
<div class="bootom_bacground"></div>
{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
<div class="admin_lincs">
You <b>{{ app.user.username }}</b> <a href="{{ path("logout") }}">[{% trans %}logout{% endtrans %}]</a> <br />
{% endif %}
</body>
</html>